.page {
    display:flex;
    justify-content: center;
    align-items: center;
    font-style: "DM Sans";
    text-align: center;
}

.page-title {
    margin-top: 100px;
    display: flex;
    width: 400px;
    height: 50px;
    justify-content: center;
    color: #7AA3FF;
    font-weight: bold;
}

.form-style {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container {
    display: flex;
    font-style: "DM Sans";
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.mb-3 {
    width: 450px;
    font-size: 20px;
}

.submit-btn {
    margin-top: 10px;
    width: 450px;
    background-color: #7AA3FF !important;
    border-radius: 10px !important;
}

.line {
    margin-top: 40px;
    background-color: rgb(230, 229, 229);
    width:450px;
    height: 3px;
    margin-bottom: 20px;
}

.not-member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px; 
    height: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center !important;
}

.col-item-member {
    flex: 1 0 50%;
}

.col-item-member:first-child {
    margin-left: 25px;
}



.col-item-member-btn {
    flex: 1 0 50%;
    background-color: #7AA3FF !important;
    margin-right: 25px;
    border-radius: 10px !important;
}