.searchButton {
    height: 32px;
    background-color: white;
    border-color: #CBCBCB;
    width: 900px;
    border-radius: 2000px;
}

.buttonBackground {
    background-color: white;
    border-color: #CBCBCB;
    width: 80px;
}

.button {
    background-color: white;
    border-color: white;
}

.text {
    font-size: 28px;
    font-family: 'Open Sans';
    color: #A6A6A8;
}
