.body {
  margin-top: 0px;
  width: 500px;
  height: 500px;
}

.close_button {
  top: 2%;
  left: 96%;
  position: absolute;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.create_button {
  margin-top: 30px;
  width: 500px;
  background-color: #7AA3FF !important;
  color: white;
  font-size: 18px;
  border-radius: 45px;
  font-weight: 600;
  border: #CBCBCB solid 1px !important;
  margin-bottom: 20px;
}

.double_box {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.dropdown_container_output {
  display: inline-block;
  width: 80%;
}

.dropdown_container_button {
  display: inline-block;
}

.dropdown_button2 {
  width: 200px;
  background-color: #fff;
  text-align: left;
  border-bottom: #fff;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  font-size: 14px;
}

.flex {
  flex: 1;
}

.flex:first-child {
  margin-right: 20px;
}

.flex:last-child {
  margin-left: 20px;
}

.height {
  height: 80vh !important;
  max-height: 80vh !important;
  overflow-y: auto;
}

.single_box {
  margin-bottom: 10px;
}

.span {
  border: solid 1px rgb(255, 255, 255, 0.01);
  outline: 0px solid transparent;
}
.expanding_box {
  max-width: 500px;  
  max-height: 300px; 
  overflow: scroll;
  margin-bottom: 10px;
  min-width: 500px;
  min-height: 40px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 7px;
}

.title {
  margin-top: 10px;
  display: flex;
  font-size: 40px;
  justify-content: center;
  color: #7AA3FF;
  margin-bottom: 0px;
}

.upload_button {
  margin-top: 2px;
}

.width {
  width: 60% !important;
  max-width: 60% !important; 
}






