a {
    color: #000000;
    font-family: 'DM Sans';
}

body {
    background-color: white;
}

h1 {
    color: #000000;
    font-family: 'DM Sans';
    font-weight: bold;
}

.primary {
    color: #7aa3ff;
    font-family: 'DM Sans';
    font-weight: bold;
}

.secondary {
    color: #CBCBCB;
    font-family: 'DM Sans';
    font-weight: normal;
}