.navbar_container {
    display: flex;
    height: 70px;
}

.logo_img {
    width: 65px;
    height: 65px;
}

.brand_name {
    font-size: 32px;
    font-weight: bolder;
    color: #7AA3FF;
}

.active {
    font-weight: bold !important;
    color: #7AA3FF !important;
}

.nav_bar_pages {
    color: rgb(192, 192, 192) !important;
}

.pages_container {
    margin-right: 100px;
    margin-left: auto;
    font-size: 18px;
}


.bar_container {
    display: flex;
    background-color: #fff !important;
    padding-left: 10px;
    justify-content: right;
}