.buttons {
    align-items: center;
    display: flex;
    justify-items: space-between;
    margin-bottom: 20px;
}

.createButton {
    padding-left: 2.5%;
    width: 24%;
}

.searchBar {
    width: 60%;
}

.cardGrid {
    padding-left: 2%;
}
