.container {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.signup-title {
    margin-top: 50px;
    display: flex;
    width: 500px;
    height: 40px;
    justify-content: center;
    color: #7AA3FF;

}

.blue-txt {
    color: #7AA3FF;
}

.data-container {
    margin-top: 20px;
    width: 500px;
    height: 500px;

}

.col-cont {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.col-items {
    flex: 1;
}

.col-items:first-child {
    margin-right: 20px;
}

.col-items:last-child {
    margin-left: 20px;
}

.default-text-fill {
    color: grey !important;
}

.long-text-box {
    margin-bottom: 10px;
}


.btn {
    margin-top: 10px;
    border-radius: 15px !important;
    width: 500px;
    font-weight: bold;
    background-color: #7AA3FF !important;
    box-shadow: 2px 2px 4px grey;
    font-size: 20px !important;
}